body {
    background-color: brown;
    font-size: xx-large;
    font-style: normal;
    font-variant: normal;
background-image: url(./IMG-20190312-WA0094.jpg);
background-repeat: no-repeat;
background-size: cover;
}
